@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Varela Round', sans-serif;
}
body{display:flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
background-color: #ebeac4cb;}

.card-header{text-align: center;}

.form-select{width: 100px;
}

#player1button, #player2button, #reset{width:33%}